body {
  background-color: #1a1b1b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 50px;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 95%;
  background-color: #1a1b1b;
}

#logo-img {
  height: 50px;
  border-radius: 20px;
  margin-top: 10px;
}

#select-account-name,
#select-hero-name,
#search-bar {
  width: 200px;
  cursor: pointer;
  text-align: center;
  height: 25px;
  padding: 0;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #1a1b1b;
  color: white;
}

#cart-icon img {
  height: 40px;
  cursor: pointer;
}
#products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* 👈 Keeps items same size */
  gap: 0.5rem;
  margin-top: 70px;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  height: 180px;
  border-radius: 5px;
  background-color: #2a2a2a;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.product-price {
  color: white;
  border: 1px solid white;
  width: 60px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 17px;
  background-color: black;
}
.product-name {
  width: 100%;
  color: white;
  padding-top: 5px;
  font-size: 15px;
  display: -webkit-box; /* flexbox-like layout */
  -webkit-line-clamp: 2; /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* show "..." */
  word-break: break-word; /* break long words properly */
  line-height: 1.2em; /* adjust for nice spacing */
  max-height: 2.4em; /* = line-height * 2 lines */
}

#cart-summary {
  margin-top: 7%;
}

#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#cart li {
  width: 50%;
  background-color: #2a2a2a;
  list-style-type: none;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.cart-item img {
  height: 100%;
  border-radius: 5px;
}

.cart-item p {
  color: white;
  margin: auto;
}

#cart-title {
  color: white;
}

#total {
  color: white;
  margin-top: 15px;
}
