body {
  background-color: #1a1b1b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* 👈 Keeps items same size */
  gap: 0.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  height: 180px;
  border-radius: 5px;
  background-color: #2a2a2a;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.product-price {
  color: white;
  border: 1px solid white;
  width: 60px;
  padding: 2px 0;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  font-weight: bold;
}
.product-name {
  width: 100%;
  color: white;
  padding-top: 5px;
  font-size: 15px;
  display: -webkit-box; /* flexbox-like layout */
  -webkit-line-clamp: 2; /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* show "..." */
  word-break: break-word; /* break long words properly */
  line-height: 1.2em; /* adjust for nice spacing */
  max-height: 2.4em; /* = line-height * 2 lines */
}

.cart-item {
  display: flex;
  height: 30px;
  max-width: 500px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.cart-item img {
  height: 100%;
  border-radius: 5px;
}

.cart-item p {
  color: white;
  margin: auto;
}

li {
  list-style-type: none;
}

#cart-title {
  color: white;
}

#total {
  color: white;
  margin-top: 15px;
}
